/* error messages style when required inputs are not filled */
.error-message {
    font-size: smaller; /* smaller font size */
    color: red; /* red color text */
}

/* container backgrounds and styles of form and submit complete page */
#before-submit, #after-submit {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    border-top-style: solid;
    border-color: red;
    border-width: 10px;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

/* initially hide the submit complete page */
#after-submit {
    display: none;
}

/* form-title decoration */
#form-title {
    background-image: linear-gradient(135deg, #74ebd5, #9face6);
    border-radius: 20px;
    color: #f6323e;
    text-shadow: 2px 2px whitesmoke;
}