

/* active navbutton of respective homepage has invisible box-shadow border at bottom */
#active-navbutton {
    box-shadow: inset 0 -5px 0 0 black;
}

/* inactive navbuttons of respective homepage have invisible box-shadow border at bottom */
#inactive-navbutton {
    box-shadow: inset 0 -5px 0 0 #e2e3e5;
}

/* when hovered onto inactive navbuttons, boxshadow color is changed in transition delay*/
#inactive-navbutton:hover {
    box-shadow: inset 0 -5px 0 0 #f6323e;
    transition: 0.7s;
}

/* footer background and position */
footer {
    background-color: black;
}

/* footer icon hover animation */
#footer-icon:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

/* small the text size of links in footer and contact info */
#footer-link, #contact-info {
    font-size: 13px;
    text-decoration: none;
}

/* shows underline after hovering footer-links */
#footer-link:hover {
    text-decoration: underline;
}

/* removing the blue color of texts tagged by a element */
a {
    color: white;
}
