/* hero image background */
.hero-image {
    position: relative; /* positioning relative to its container */
    background-image: url('../images/hero-image.jpg'); /* background image URL */
    height: 300px; /* height of the hero image */
    background-size: cover; /* cover the entire container */
    background-position: center; /* center the background image */
}

/* overlay gradient on hero image */
.hero-image::after {
    content: ''; /* empty content for pseudo-element */
    position: absolute; /* positioning absolute to overlap with .hero-image */
    bottom: 0; /* positioned at the bottom of .hero-image */
    left: 0; /* positioned at the left of .hero-image */
    width: 100%; /* full width of .hero-image */
    height: 60%; /* height of the gradient overlay */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* gradient from transparent to 80% black */
}

/* hero text alignment, color, and center */
.hero-text {
    top: 60%; /* positioning 60% from the top of its container */
    left: 50%; /* center horizontally */
    transform: translate(-50%, -50%); /* center vertically and horizontally */
    color: white; /* text color */
    text-align: center; /* center align text */
    font-size: 1.5rem; /* font size */
    text-shadow: 2px 2px black; /* text shadow */
    z-index: 1; /* ensure text appears above the gradient overlay */
}

/* remove bullet points for h6 elements */
h6 {
    list-style-type: none; /* no bullet points */
}

/* vision image background design */
#img-mission-vision {
    background-color: #44b09e; 
    background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
    border-radius: 30px; /* rounded corners */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* box shadow */
}

/* stats container box shadow */
#statistics {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px 15px, rgba(0, 0, 0, 0.05) 0px 5px 10px; /* multiple box shadows */
}

/* stats title gradient background */
#statistics-title {
    background-image: linear-gradient(#f6323e, #b32933); /* gradient background */
}

/* text shadow for vision subtitle */
#vision-subtitle {
    text-shadow: 0.7px 0.7px grey; /* text shadow */
}
