.hero-carousel-background {
    background-image: url(../media/images/index/hero-carousel-background.png);
    background-size: cover; /* Optional: makes the image cover the entire page */
    background-position: center; /* Optional: centers the image */
    background-repeat: no-repeat;
    z-index: 1;
}

.carousel-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
}

.hero-carousel-title, .intro-carousel-title {
    text-shadow: 2px 2px black;
}

#countdown-container {
    border-style: solid;
    border-width: 7px;
    border-color: aqua;
    animation: timerBorderAnimation 1s infinite ease-in-out;
}

@keyframes timerBorderAnimation {
    25% {
        border-color: rgb(5, 43, 43);
    }
    50% {
        border-color: rgb(122, 86, 12);
    }
    75% {
        border-color: blueviolet;
    }
    100% {
        border-color: rgb(64, 92, 136);
    }
}

/* stats container box shadow */
#statistics {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px 15px, rgba(0, 0, 0, 0.05) 0px 5px 10px; /* multiple box shadows */
    border-radius: 50px;
}

/* stats title gradient background */
#statistics-title {
    background-image: linear-gradient(#f6323e, #b32933); /* gradient background */
    border-radius: 20px;
}


/* SP VISION CSS */

/* vision image background design */
#img-mission-vision {
    background-color: #44b09e; 
    background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
    border-radius: 30px; /* rounded corners */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* box shadow */
}

/* text shadow for vision subtitle */
#vision-subtitle {
    text-shadow: 0.7px 0.7px grey; /* text shadow */
}

